@page "/"

<h1> Stream Controls </h1>



<br />
@* <Syncfusion.Blazor.Buttons.SfButton CssClass="e-primary">Button</Syncfusion.Blazor.Buttons.SfButton>
 *@
<RazorClassLibrary1.Pages.FrontPage></RazorClassLibrary1.Pages.FrontPage>

